streamlit
pandas
requests
feedparser
python-dotenv
PyMuPDF
torch
google-genai
neo4j
pyvis
openpyxl
streamlit 
langchain-huggingface
langchain-community 
faiss-cpu 
neo4j
pyvis 
pandas